<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper brown lighten-1">
            <a href="#" class="brand-logo">Panel de administración</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a id="inicioEdit">Inicio</a></li>
                <li><a id="somosEdit">Quienes somos</a></li>
                <li><a id="serviciosEdit">Productos y servicios</a></li>
                <li><a id="salir">Salir</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
    <li><a id="inicio">Inicio</a></li>
    <li><a id="somos">Quienes somos</a></li>
    <li><a id="productos">Productos y servicios</a></li>
</ul>

<div class="row" style="height: 100%;">
    <div id="content-admin" class="m12"></div>
</div>

<div id="script"></div>

<!--<script type="text/javascript" src="../static/js/adminbar.js"></script>-->