<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper brown lighten-1">
            <a href="#" class="brand-logo">{{ title }}</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a id="inicio">Inicio</a></li>
                <li><a id="somos">Quienes somos</a></li>
                <li><a id="productos">Productos y servicios</a></li>
                <li><a id="contacto">Contacto</a></li>
                <li><a id="administrador">Administrador del sitio</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
    <li><a id="inicio">Inicio</a></li>
    <li><a id="somos">Quienes somos</a></li>
    <li><a id="productos">Productos y servicios</a></li>
    <li><a id="contacto">Contacto</a></li>
    <li><a id="administrador">Administrador del sitio</a></li>
</ul>

<script type="text/javascript" src="../static/js/navbar.js"></script>