<div class="row">
    <div class="col s12 m12 right">
        <blockquote class="flow-text">{{ inicio[0] }}</blockquote>
    </div>
    <div class="col s12 m7 left">
        <img class="responsive-img z-depth-3" src="../static/img/inicio.jpg">
    </div>
    <div class="col s12 m5" style="text-align: justify;">
        <blockquote>{{ inicio[1] }}</blockquote>
        <blockquote>La Comunión es recibir a Jesucristo sacramentado en la Eucaristía; de manera que, al comulgar, entra en nosotros mismos Jesucristo vivo, verdadero Dios y verdadero hombre, con su cuerpo, sangre, alma y divinidad.</blockquote>
        <blockquote>La Eucaristía es la fuente y cumbre de la vida de la iglesia, y también lo es de nuestra vida en Dios. La Iglesia manda comulgar al menos una vez al año, en estado de gracia; recomienda vivamente la comunión frecuente y, si es posible, siempre que se asista a la Santa Misa, para que la participación en al sacrificio de Jesús sea completa. Es muy importante recibir la Primera Comunión cuando se llega al uso de razón, con la debida preparación.</blockquote>
    </div>
</div>