<div class="row">
    <div class="col s12 m12 right">
        <blockquote class="flow-text">{{ servicios[0] }}</blockquote>
    </div>

    <div class="col s12 m12" style="text-align: justify;">
        <blockquote>{{ servicios[1] }}</blockquote>
        <blockquote>
            Servimos gente de toda creencia y toda clase de Consejeria Bilingue. Muchas de la personas recièn llegadas a
            la comunidad de Iowa tienen que enfrentarse al estres de trabajar en varios lugares, levantar a sus
            familias, y aprender de una nueva cultura- muchas veces aun después de haber cortado lazos con el sistema de
            soporte familiar en sus paìses de origen.
        </blockquote>
        <blockquote>
            Nosotros proveemos consejeria para personas, familias y matrimonios (incluyendo matrimonios bi-culturales).
            Aquellos interesados se pueden contactar con Alejandra Martinez-Lacabe directamente para hacer una cita en
            Des Moines, Perry, Osceola, o Lenox. Muchas comunidades desconocen de los excelentes recursos y
            organizaciones que existen en nuestra area.
        </blockquote>
        <blockquote>
            Nuestra promotora Hispana trabaja para incrementar el conocimiento de la comunidad y el acceso a todos los
            recursos en todas las areas. Por medio de visitas ella provee una bienvenida y primera coneccion a la
            comunidad. Además, todos los miembros de este programa trabajan con la comunidad para coordinar
            presentaciones educativas y oportunidades de desarrollo de liderazgo.
        </blockquote>
        <blockquote>
            Caridades Catòlicas tambien hospeda a el coordinador de la Red de Apoyo de los Derechos de Los Inmigrantes
            de Iowa y Nebraska, un extenso esfuerzo cooperativo de individuales y organizaciònes. La misiòn de esta red
            es facilitar una completa participaciòn de el inmigrante en el proceso activo de toma de decisiones,
            promover respeto por las contribuciones de los inmigrantes, y construir comunidades inclusivas.
        </blockquote>
    </div>
</div>