<div class="row">
    <div class="col s12 m12 right">
        <blockquote class="flow-text">{{ somos[0] }}</blockquote>
    </div>

    <div class="col s12 m7" style="text-align: justify;">
        <blockquote>{{ somos[1] }}</blockquote>
        <blockquote>
            Para que una persona se pueda llamar católica, es necesario que cumpla todas estas condiciones, ya que son
            características esenciales del católico, de tal manera que si le falta alguna dejará de serlo. (No vale
            decir
            "Yo creo el Credo" y a continuación decir "Yo no creo en el infierno, en la Iglesia…").
        </blockquote>
    </div>

    <div class="col s12 m5 left">
        <img class="responsive-img z-depth-3" src="../static/img/somos.jpg">
    </div>
</div>